---
layout: "base.njk"
liClassBoard: "current-menu-item"
hrefClassBoard: "current_page_item"
title: "Board of Directors"
excerpt: "Okaloosa Bar Association Board of Directors Page"
author:  "modible.com"
ogtype:  "website"
pageImage: /assets/images/background/subheader3.jpg
description: "Board members and contact info"
---

<!-- content begin -->
    <section aria-label="section" data-bgcolor="#ffffff">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <span class="p-title">Who We Are</span><br>
                    <h2>Your partner for legal</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                </div>
                <div class="col-md-6 offset-md-1">
                    <div class="de-images">
                        <div class="di-text text-light bg-color">
                            <h1>2500</h1>
                            <span>Solved Cases</span>
                        </div>
                        <img class="di-small-2 lazyimages" src="/assets/images/misc/d2.jpg" alt=""/>
                        <img class="di-big img-fluid lazyimages" src="/assets/images/misc/d1.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section data-bgcolor="#111111" class="text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 offset-lg-7">
                    <span class="p-title">Features</span><br>
                    <h2>
                                Let Our Experience<br>be Your Guide
                            </h2>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Our Attorneys</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Our Expertise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Our Firm</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p>Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco ea tempor duis.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <p>Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container col-md-6 pull-right lazyimages" data-bgimage="url(/assets/images/background/9.jpg) center"></div>
    </section>
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Our Lawyer Team</h2>
                    <div class="small-border"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".2s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="/assets/images/team/1.jpg" class="fp-image img-fluid lazyimages" alt="">
                        </div>
                        <h4>Fynley Wilkinson</h4>
                                Managing Partner
                            </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".4s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="/assets/images/team/2.jpg" class="fp-image img-fluid lazyimages" alt="">
                        </div>
                        <h4>Sasha Welsh</h4>
                                Senior Partner
                            </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#">
                                            <i class="fa fa-facebook fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="/assets/images/team/3.jpg" class="fp-image img-fluid lazyimages" alt="">
                        </div>
                        <h4>John Shepard</h4>
                                Associate
                            </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-text" data-bgcolor="#111111" class="text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12 wow fadeInRight" data-wow-delay=".2s">
                    <div class="de_count ultra-big s2 text-center">
                        <h3 class="timer" data-to="20" data-speed="1000">20</h3>
                        <span class="id-color">Years of Experience</span>
                    </div>
                </div>
                <div class="col-lg-4 p-lg-5  mb-sm-30 wow fadeInRight" data-wow-delay=".4s">
                    <span class="p-title">Welcome</span><br>
                    <h2>Justica is Your Best Partner for Legal Solutions</h2>
                </div>
                <div class="col-lg-4 wow fadeInRight" data-wow-delay=".6s">
                    <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-letter"></i>
                        <div class="text">
                            <h4>Request Quote</h4>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                </div>
                        <i class="wm icofont-letter"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-investigation"></i>
                        <div class="text">
                            <h4>Investigation</h4>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                </div>
                        <i class="wm icofont-investigation"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-box f-boxed style-3 text-center">
                        <i class="id-color icofont-hand-power"></i>
                        <div class="text">
                            <h4>Case Fight</h4>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                </div>
                        <i class="wm icofont-hand-power"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- content close -->