---
layout: "base.njk"
liClassCourtForms: "current-menu-item"
hrefClassCourtForms: "current_page_item"
title: "Local Court Forms"
excerpt: "Okaloosa Bar Association Local Court Forms Page"
author:  "modible.com"
ogtype:  website
pageImage: /assets/images/background/subheader2.jpg
description: "Access local court forms for Northwest Florida"
---

<!-- content begin -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-group bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Labor</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-medical-sign-alt bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Medical &amp; Health Care</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-mining bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Mining</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-law-order bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Civil &amp; Criminal</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-group-students bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Family &amp; Marriage</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-money bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Corporate &amp; Investment</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                    </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-building bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Property</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-bank bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Banking &amp; Insurance</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                    </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-light-bulb bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Intellectual &amp; Property</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- content close -->