---
layout: "base.njk"
liClassMembers: "current-menu-item"
hrefClassMembers: "current_page_item"
title: "OBA Members"
excerpt: "Okaloosa Bar Members Page"
author:  "modible.com"
ogtype:  website
pageImage: /assets/images/background/subheader2.jpg
description: "List of members and contact info"
---

<!-- content begin -->
<section>
    <div class="container">
        <div class="row">
            {% for pArea in  practiceAreas%}
                <div class="col-lg-4 col-md-6 mb30" >
                    <a href="{{pArea.link}}" >
                        <div class="feature-box f-boxed style-3 text-center">
                            <i class="id-color {{pArea.icon}}"></i>
                            <div class="text">
                                <h4>{{pArea.title}}</h4>
                                {{pArea.description}}
                            </div>
                            <img class="wmcustom" src="{{pArea.image}}"/>
                            <div class="spacer-single"></div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- content close -->