<a href="#" id="back-to-top"></a>
<!-- footer begin -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <a href="index.html"><img alt="" class="img-fluid mb20 lazyimages" src="/assets/images/logoMain-light.png"></a>
                    <address class="s1">
                        <span>
                            <i class="id-color fa fa-map-marker fa-lg"></i>08 W 36th St, New York, NY 10001</span>
                        <span>
                            <i class="id-color fa fa-phone fa-lg"></i>+1 333 9296</span>
                        <span>
                            <i class="id-color fa fa-envelope-o fa-lg"></i>
                            <a href="mailto:contact@example.com">contact@example.com</a>
                        </span>
                        <span>
                            <i class="id-color fa fa-file-pdf-o fa-lg"></i>
                            <a href="#">Download Brochure</a>
                        </span>
                    </address>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="id-color mb20">Practice Areas</h5>
                <ul class="ul-style-2">
                    <li>Corporate and M&A</li>
                    <li>Construction and Real Estate</li>
                    <li>Commercial Duspute Resolution</li>
                    <li>Employment</li>
                    <li>Banking and Finance</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="widget">
                    <h5 class="id-color">Newsletter</h5>
                    <p>Signup for our newsletter to get the latest news, updates and special offers in your inbox.</p>
                    <form action="blank.php" class="row" id="form_subscribe" method="post" name="form_subscribe">
                        <div class="col text-center">
                            <input class="form-control" id="name_1" name="name_1" placeholder="enter your email" type="text"/>
                            <a href="#" id="btn-submit">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                    <div class="spacer-10"></div>
                    <small>Your email is safe with us. We don't spam.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                                    &copy; Copyright 2020 - Justica by Designesia
                                </div>
                        <div class="de-flex-col">
                            <div class="social-icons">
                                <a href="#">
                                    <i class="fa fa-facebook fa-lg"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter fa-lg"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin fa-lg"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest fa-lg"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-rss fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
<div id="preloader">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

</div>

<!-- Javascript Files
    ================================================== -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/jquery.isotope.min.js"></script>
<script src="/assets/js/easing.js"></script>
<script src="/assets/js/owl.carousel.js"></script>
<script src="/assets/js/validation.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/enquire.min.js"></script>
<script src="/assets/js/jquery.stellar.min.js"></script>
<script src="/assets/js/jquery.plugin.js"></script>
<script src="/assets/js/typed.js"></script>
<script src="/assets/js/jquery.countTo.js"></script>
<script src="/assets/js/jquery.countdown.js"></script>
<script src="/assets/js/typed.js"></script>
<script src="/assets/js/designesia.js"></script>
<!-- RS5.0 Core JS Files -->
<script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<!-- RS5.0 Extensions Files -->
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script>
jQuery(document).ready(function () {
    // revolution slider
    jQuery("#slider-revolution").revolution({
        sliderType: "standard",
        sliderLayout: "fullwidth",
        delay: 5000,
        navigation: {
            arrows: {
                enable: true
            },
            bullets: {
                enable: true,
                hide_onmobile: false,
                style: "hermes",
                hide_onleave: false,
                direction: "horizontal",
                h_align: "center",
                v_align: "bottom",
                h_offset: 20,
                v_offset: 30,
                space: 5
            }
        },
        parallax: {
            type: "mouse",
            origo: "slidercenter",
            speed: 2000,
            levels: [
                2,
                3,
                4,
                5,
                6,
                7,
                12,
                16,
                10,
                50
            ]
        },
        responsiveLevels: [
            1920, 1380, 1240
        ],
        gridwidth: [
            1200, 1200, 940
        ],
        spinner: "off",
        gridheight: 700,
        disableProgressBar: "on"
    });
});
</script>
</body>
</html>