<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>{{title}} - {{seo.title}}</title>
        <meta name="description" content="{{description}} | {{seo.description}}">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
        <!-- CSS Files
    ================================================== -->
        <link id="bootstrap" href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link id="bootstrap-grid" href="/assets/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css"/>
        <link id="bootstrap-reboot" href="/assets/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/animate.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/owl.carousel.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/owl.theme.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/owl.transitions.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/magnific-popup.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/jquery.countdown.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <!-- color scheme -->
        <link id="colors" href="/assets/css/colors/scheme-06.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/coloring.css" rel="stylesheet" type="text/css"/>
        <!-- RS5.0 Stylesheet -->
        <link rel="stylesheet" href="/assets/revolution/css/settings.css" type="text/css">
        <link rel="stylesheet" href="/assets/revolution/css/layers.css" type="text/css">
        <link rel="stylesheet" href="/assets/revolution/css/navigation.css" type="text/css">

        <link rel="preload" as="style" href="/assets/fonts/font-awesome/css/font-awesome.css">
        <link rel="preload" as="style" href="/assets/fonts/icofont/icofont.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:400,200,300,500,600,700,800">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap">

        <link rel="preload" as="font" href="/assets/revolution/fonts/revicons/revicons.woff?5510888" type="font/woff" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/revolution/fonts/revicons/revicons.ttf?5510888" type="font/otf" crossorigin="anonymous">
        <!--<link rel="preload" as="font" href="/assets/revolution/fonts/revicons/revicons.eot?5510888" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/revolution/fonts/revicons/revicons.eot?5510888#iefix" crossorigin="anonymous">
        <link rel="preload" as="image" href="/assets/revolution/fonts/revicons/revicons.svg?5510888#revicons"crossorigin="anonymous"> -->
    </head>
    <body>

        <div id="wrapper">
            <div id="topbar" class="topbar-noborder">
                <div class="container">
                    <div class="topbar-left sm-hide">
                        <span class="topbar-widget tb-social">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </span>
                    </div>
                    <div class="topbar-right">
                        <div class="topbar-right">
                            <span class="topbar-widget">
                                <a href="#">Privacy policy</a>
                            </span>
                            <span class="topbar-widget">
                                <a href="#">Request Quote</a>
                            </span>
                            <span class="topbar-widget">
                                <a href="#">FAQ</a>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- header begin -->
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex sm-pt10">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="index.html">
                                            <img alt="" class="logo lazyimages" src="/assets/images/logoMain-light.png"/>
                                            <img alt="" class="logo-2 lazyimages" src="/assets/images/logoMain.png"/>
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                                <div class="de-flex-col header-col-mid">
                                    <!-- mainmenu begin -->
                                    <ul id="mainmenu">
                                        <li>
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <a href="/about-us">About Us</a>
                                        </li>
                                        <li>
                                            <a href="/practice-areas">Practice Areas</a>
                                            <ul>
                                            {%for pArea in practiceAreas %}
                                                <li>
                                                    <a href="{{pArea.link}}">{{pArea.shortName}}</a>
                                                </li>
                                                {% endfor%}
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/areas-we-serve">Areas we Serve</a>
                                            <ul>
                                                <li>
                                                    <a href="news.html">News List</a>
                                                </li>
                                                <li>
                                                    <a href="news-single.html">News Single</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/contact">Contact</a>
                                        </li>
                                        <li>
                                            <a href="/">Pay Online</a>
                                        </li>
                                    </ul>
                                    <!-- mainmenu close -->
                                </div>
                                <div class="de-flex-col">
                                    <div class="h-phone md-hide">
                                        <span>Need&nbsp;Help?</span>
                                        <i class="fa fa-phone"></i> 1 200 300 9000</div>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- header close -->